* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cinza-amarromzado);
  display: grid;
  place-items: center;
}

.container {
  width: 50vw;
  background-color: var(--cinza);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  padding: 100px;
}

.h1 {
  color: white;
  font-family: var(--font-family);
}

.message {
  display: flex;
  width: 200px;
  justify-content: center;
  padding: 10px 60px;
  position: fixed;
  bottom: 8%;
  right: 40%;
  border-radius: 3px;
  background-color: var(--amarelo-escuro);
  color: white;
  font-family: var(--font-family); 
  animation: slide 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide {
  0%{
    transform: translate(1000px);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}

.inpt {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .16px;
  border-radius: 5px;
  outline: 2px solid transparent;
  width: 80%;
  height: 40px;
  border: none;
  background-color: #f4f4f4;
  padding: 0 16px;
  color: #161616;
  margin-top: 20px;
}

.bttn {
  appearance: button;
  background-color: var(--amarelo-escuro);
  border: solid transparent;
  border-radius: 15px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: var(--preto);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 25px;
  outline: none;
  overflow: visible;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 30%;
}

.bttn:after {
  background-clip: padding-box;
  background-color: var(--amarelo);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.bttn:main,
.bttn:focus {
  user-select: auto;
}

.bttn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.bttn:disabled {
  cursor: auto;
}

.bttn:active {
  border-width: 4px 0 0;
  background: none;
}