:root {
    --preto: #000000;
    --cinza: #111111;
    --cinza2: #0f0f0f;
    --cinza-amarromzado: #0d0d0d;
    --cinza-escuro: #090909;
    --amarelo: #e5ad07;
    --amarelo-escuro: #a87902;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}