<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="../static/css/style-cadastro.css">
    <script src="../static/js/api.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="h1-cadastro">Cadastro de Usuário</h1>
        <input class="inpt" id="inputValue" placeholder="Nome">
        <input class="inpt" id="inputValue" placeholder="Login">
        <input class="inpt" id="inputValue" placeholder="E-mail">
        <input class="inpt" id="inputValue" type="password" placeholder="Senha">
        <button class="bttn" type="button">Cadastrar</button>
    </div>
</body>
</html>