<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinKeeper - Login</title>
    <link rel="stylesheet" href="../static/css/style-cadastro&login.css">
    <link rel="stylesheet" href="../static/css/style-header.css">
    <link rel="stylesheet" href="../static/css/variaveis.css">
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav-op"><a href="index.html">início</a></div>
            <div class="nav-op"><a href="cadastrar.html">cadastrar</a></div>
            <div class="nav-op-active"><a href="login.html">login</a></div>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 class="h1">Login de Usuário</h1>
            <input class="inpt" id="inputValue" placeholder="Login ou E-mail">
            <input class="inpt" id="inputValue" type="password" placeholder="Senha">
            <button class="bttn" type="button">Logar</button>
        </div>
    </main>
</body>
</html>