<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinKeeper - Principal</title>
    <link rel="stylesheet" href="../static/css/style-principal.css">
    <link rel="stylesheet" href="../static/css/variaveis.css">
</head>

<body>
<header>
    <div class="nav">
        <div class="nav-op-left"><a href="">Config</a></div>
        <div class="center-container">
            <div class="nav-op"><a href="">Perfil</a></div>
            <div class="nav-op-active"><a href="">Gastos</a></div>
        </div>
    </div>
</header>
</body>

</html>