<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinKeeper - Login</title>
    <link rel="stylesheet" href="../../static/css/style-cadastro&login.css">
    <link rel="stylesheet" href="../../static/css/style-header.css">
    <link rel="stylesheet" href="../../static/css/variaveis.css">
    <script src="../../static/js/login.js"></script>
</head>

<body>
    <header>
        <div class="nav">
            <div class="nav-op"><a href="cadastrar.html">cadastrar</a></div>
            <div class="nav-op"><a href="index.html">início</a></div>
            <div class="nav-op-active"><a href="login.html">login</a></div>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 class="h1">Login de Usuário</h1>
            <input class="inpt" id="login" placeholder="Login">
            <input class="inpt" id="senha" type="password" placeholder="Senha">
            <button class="bttn" onclick="logarUsuario()">Logar</button>
        </div>
        <div class="alert" id="alert-message"></div>
    </main>
</body>

</html>